@import "tailwindcss";

@theme {
  --color-primary: #006994;
  --color-secondary: #FF7F50;
  --color-dark: #333333;
  --color-light: #F8F9FA;

  --font-sans: "Montserrat", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

:root {
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--color-dark);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}
